<div class="row bg mx-auto parent">
	<div class="col-md-3 col-xs-12  dynamicMaring {{l.name}}" *ngFor="let l of list">
		
		<wt-weather-detail [list]="l" (hideLabes)="hideLabels()"></wt-weather-detail>
		
	</div>
</div>

