.bg {
	background-color: #ebeff1;
	min-height: calc(100vh - 63.594px);	
}

@media (min-width: 950px) {
	.bg {
		padding: 5em;		
		padding-left: 0;
	}

	div.dynamicMaring{
		margin-left: 7.33%;	
		margin-bottom: 2em;
	}
}

