label {
	margin-right: .5em;
}

.nav-bg {
	background-color: #646e7b;
}

.form-bg {
	background-color: #838b95;
	color: white;
	padding: .3em;	
}

.label-bg {
	background-color: #9ba2aa;
	padding: .3em .5em;
	margin-bottom: 0;
	border-radius: .3em;	
}

.lab{
	overflow-x: hidden;
	max-height: 4em; 
}