<nav class="navbar navbar-light nav-bg">
  <form class="col-md-6 col-xs-12 mx-auto form-bg row" (submit)="onSubmit()">
  	<div class="col-md-8 col-xs-12 lab">
  		<label class="label-bg {{name}}" *ngFor="let name of cityNames">{{name}} <i class="fa fa-times" aria-hidden="true" (click)="deleteCity(name)"></i></label>
  	</div>	
  	<div class="col-md-4 col-xs-12">
  		<input class="form-control" type="search" placeholder="Enter cities separated by comma" aria-label="Search" name="userInput" [(ngModel)]="userInput" (click)="resetUrl()"> 
  	</div>      
  </form>
</nav>