<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
        <wt-search-bar></wt-search-bar>
      </div>
  </div>
  <div class="row ap">
    <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
  </div>  
</div>
