<div class="row">
	<div class="col-md-6 col-xs-12">
		<table class="table">
  			<tbody>
			    <tr *ngFor="let l of list2">
			      <td>{{l.dt_txt | date: 'MMMM, d'}} <img src="{{'//openweathermap.org/img/w/' + l.weather[0].icon + '.png'}}">
			      </td>
			      <td>
			      	<p>
			      		<span class="orange pad">{{l.main.temp_min}}</span>
			      		<span class="grey pad">{{l.main.temp_max}}</span>
			      		<span>{{l.weather[0].description}}</span>
			      	</p>
			      	<p>
			      		{{l.wind.speed}}m/s
			      	</p>
			      	<span>clouds: {{l.clouds.all}}%, {{l.main.pressure}} hpa</span>
			      </td>			      
			    </tr>    
			</tbody>
		</table>
	</div>
	<div class="col-md-6 col-xs-12">
		<agm-map [latitude]="latitude" [longitude]="longitude"></agm-map>		
	</div>
</div>