<div class="row">
	<div class="col-md-4">
		<small [routerLink]="[list.id]" id="city" (click)="onHideLabels()"><strong>{{list.name}}</strong></small><br>
		<small>{{date | date: 'MMMM, d'}}th</small>
	</div>
	<div class="col-md-4">
		<small><strong>{{list.main.temp}}<sup>&deg;C</sup></strong></small><br>
		<small>{{list.weather[0].main}}</small>
	</div>
	<div class="col-md-4">		
		<small>Humidity: {{list.main.humidity}}%</small><br>
		<small>Wind: {{list.wind.speed}}km/h</small>
	</div>
</div>